html, body {
    font-family: Rubik, sans-serif;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

p {
    margin: 0;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}


.hero-wrapper {
    background-image: url(../Images/clip.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    background-position-y: bottom;
}


.header__wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    position: fixed;
    top: 0;
    right: 50;
    align-items: center;
    justify-content: center;
    background: rgb(37 35 35 / 25%);
    height: 100px;
    z-index: 1;
    
}

.header__navbar {
    width: 32%;
    display: flex;
    align-items: center;

}

.header__navbar a {
    text-decoration: none;
    position: sticky;
    color: white;
    font-size: 15px;
    margin-right: 30px;
}

.navbar__logo{
    width: 30%;
}
#none {
    width: 100%;
}

#none-black {
    display: inline-block;
    width: 100%;
}


.header__logo {
    display: flex;
    color: #ffffff;
    align-items: center;
    font-size: 35px;
    width: 15%;
}


.header__logo i {
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;
}

/*
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height:50%;
} */

.hero .title {
    font-size: 74px;
    font-weight: 700;
    color: #ffffff;

}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 50%;

}

.hero__text {
    font-size: 22px;
    font-weight: 200;
    color: white;
    font-family: rubik;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 25px 0 90px;
    width: 50%;
    max-width: 100%;


}

.button--primary {
    background: #2091F9;
    border-radius: 35px;
    padding: 10px 45px;
    color: white;
    border: none;
}

.features {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 126px;
}

.title {
    font-size: 40px;
    font-weight: 400;
    color: #252B42;
    letter-spacing: 1.5px;
}

.button--primary{
    padding: 19px 39px;

}

.button--second{
    padding: 19px 39px;
}

.features__subtitle {
    font-weight: 400px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    font-size: 28px;
    margin: 30px 0 10px 0;
}

.features__video-one {
    display: none;
}

.features__cards {
    display: flex;
    justify-content: center;
   
    width: 100%;
    margin-top: 90px;
}

.features__card {
    width: 18%;
    padding: 0px 20px;
}



#card__next-line {
    display: inline-block;
    width: 100%;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0;
}



.features__video {
    display: flex;
    border-radius: 30px;
    filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.25));
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  
    width: 100%;
 
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.25));
}





.organize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}



.organize .title {
       /* max-width: 380px; */
       font-size: 48px;
       font-weight: 400;
       /* width: 100%; */
       color: #252B42;
}
.organize__left{
    width: 50%;
}
.organize__text {
    margin: 40px auto 40px auto;
    font-size: 28px;
    font-weight: 400;
    color: #374754;
}


#none-organize {
    width: 100%;
    display: inline-block;
}

.button--second {
    background: #2091F9;
    border-radius: 35px;
    padding: 19px 39px;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
}

.organize__image {
    width: 50%;

}

.fourth-section {
    margin-top: 15em;
}

.subscribe {
    display: flex;
    align-items: center;
    margin-top: 250px;
    justify-content: center;
    gap: 0 50px;
}

.subscribe__image{
    width: 80%;
}



.subscribe__small {
    font-size: 20px;
    font-weight: 700;
    color: #252B42;
}

.subscribe .title {
    font-size: 48px;
    font-weight: 400;
    color: #252B42;
    margin: 17px 0;
}


.text__bold {
    font-size: 20px;
    font-weight: 700;
    color: #252B42;
}

.text__light {
    font-size: 18px;
    font-weight: 400;
    color: #374754;
}

.organize__button {
    display: flex;
    margin-top: 35px;

}

.email__button {
    padding: 19px 39px;
    border-radius: 30px;
    margin-right: 10px;
    background-color: #E8E8E8;
    font-size: 16px;
    background-color: rgba(232, 232, 232, 1);
    border: none;
}

.features__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: 400;
    color: #252B42;
}

.newsletter {
    display: none;
}

#newsletter{
    display: none;
}
.hero__title {
    font-weight: 700;
    font-size: 70px;
    color: #ffffff;
}



.partners {
   
    text-align: center;
    width: 100%;
    margin: 130px  auto 0 auto;
   


}

.partners .partners__text {
    margin-bottom: 90px;
    margin-top: 30px;
}

.partners .clients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.partners .clients .client {
    border: 1px solid rgba(233, 229, 229, 0.603);
    padding: 10px 30px;

}

.partners .clients .amazon {
    margin: 2px 0;
}

.partners .button--primary {
    margin-top: 80px;
}

.clients .client p{
    margin-bottom: 10px;
}

.testimonials {
    max-width: 1080px;
    text-align: center;
    width: 100%;
    margin: 191px auto 0 auto;
}

.testimonials__img {
    width: 150px;
    height: 60px;
    margin: 90px auto 60px auto;
}

.testimonials__img img {
    width: 100%;
    height: 100%;
}

.testimonials .testimonials__text {
    padding: 0 50px;
    font-size: 28px;
    font-weight: 400;
    color: rgba(55, 71, 84, 1);
}

.testimonials .testimonials__person {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.testimonials .person__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;

}

.person__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials__person .person__info {
    text-align: left;
    line-height: 1.5;
}

.pricing-container{
    background-color: rgba(37, 43, 66, 1);
}
.pricing {
    max-width: 1080px;
    text-align: center;
    width: 100%;
    margin: 150px auto 0 auto;
    padding: 80px 50px;
    background-color: rgba(37, 43, 66, 1);
}

.pricing .title {
    color: white;
}

.pricing__text {
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    max-width: 530px;
    margin: 30px auto 90px auto;
}

.pricing .card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__card {
    background: white;
    max-width: 335px;
    width: 100%;
    text-align: center;
    padding: 40px;
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing__card.current {
    background-color: rgba(32, 145, 249, 1);
    color: #ffffff;
    padding: 80px 40px;
}

.pricing__card.current .button--primary {
    background: #ffffff;
    color: rgba(32, 145, 249, 1);
}

.pricing__card:not(:last-child) {
    margin-right: 30px;
}

.pricing__feature {
    margin-bottom: 20px;
}

.card__desc {
    margin-bottom: 20px;
}

.card__price {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 74px;
    font-weight: 700;
}

.card__price p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    align-items: flex-start;
    margin-left: 10px;
}

.contact {
    max-width: 1080px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 80px 50px;
}

.contact .contact__text {
    max-width: 530px;
    width: 100%;
    margin: 30px auto 60px auto;
    font-size: 28px;
    font-weight: 400;
}

.contact__block {
    display: flex;
    align-items: center;
}

.contact__form {
    width: 450px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    text-align: left;
    padding: 40px;
}


.contact__form .form__input, .contact__form .form__textarea {
    width: 100%;
    background-color: rgba(245, 245, 245, 1);
    overflow: hidden;
    margin-bottom: 40px;
}

.form__input input, .form__textarea textarea {
    width: 100%;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 19px 20px;
    background: transparent;
    overflow: hidden;
}

.form__textarea textarea {
    height: 200px;
}

.form__input input:focus, .form__textarea textarea:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.form__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;

}

.map {
    width: 520px;
    height: 320px;
    margin: 0 auto;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.social__icons__mobile{
    display: none;
}

.contact__map__mobile{
    display: none;
}

.contact__form .form__input {
    border-radius: 40px;
}

.contact__map {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.map__info {
    display: flex;
    align-items: center;

}

.info {
    max-width: calc(100% / 3);
    width: 100%;
}

.info:not(:last-child) {
    margin-right: 15px;
}

.info i {
    color: rgba(32, 145, 249, 1);
}

.info p {
    margin: 25px 0 70px 0;
    font-size: 16px;
    font-weight: 400;
}

.social__icons {
    color: rgba(32, 145, 249, 1);
    margin-top: 40px;
    text-align: left;
    font-size: 28px;
}

.social__icons i:not(:last-child) {
    margin-right: 20px;
}

.footer {
    width: 100%;
    background-color: rgba(37, 43, 66, 1);
    padding: 150px 0;
}

.footer__wrapper {
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer__content {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
}




.footer__title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.footer__content a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
}

.footer__content i, .footer__content p {
    color: #ffffff;
}

.footer__contact {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 25px;

}

.footer__contact i {
    margin-right: 15px;
    font-size: 28px;
}

.footer__icons {
    font-size: 28px;

}

.footer__icons i:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width: 1024px) {


    .features__video{
        width: 80%;
        margin: 0 auto;
    }

    .organize{
        width: 80%;
        margin: 200px auto 0 auto;
    }
    .organize__text{
        font-size: 23px;
    }

    .subscribe{
        width: 80%;
        margin: 200px auto 0 auto;
    }
    .header__navbar a {
        text-decoration: none;
        position: sticky;
        color: white;
        margin-right: 30px;
        padding: 0 10px;
        background-size: cover;
        overflow-x: hidden;
        margin: 0;
        font-size: 15px;
    }


    .header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: rgb(37 35 35 / 25%);
        backdrop-filter: blur(3px);
        height: 100px;
        z-index: 1;
        top: 0;
        left: 0;
        position: fixed;

    }

    .hero .title {
        font-size: 48px;
        font-weight: 400;
        color: #ffffff;
    }

    .hero__text {
        font-size: 22px;
        font-weight: 200;
        color: white;
        font-family: rubik;
        letter-spacing: 1.5px;
        text-align: center;
        margin: 25px 0 90px;
        width: 100%;
        max-width: 100%;
    }

    .features__cards {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        width: 78%;
        margin: 90px auto 0 auto;
       
    }

    .features__card {
        width: 30%;
        /* padding: 10px 65px; */
        font-size: 18px;
       
    }
    

    .features {
        display: flex;
        justify-content: center;
        padding: 80px 0;
    }



  
   

    .subscribe .subscribe__image {
        width: 60%
    }

 

    .partners {
        margin-top: 200px;
        text-align: center;
        /* width: 80%; */
   
    }

    .testimonials {
        max-width: 1080px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 80px 0
    }

    .pricing {
        text-align: center;
        margin: 0 auto;
        padding: 80px 0;
        background-color: rgba(37, 43, 66, 1);
    }

    .pricing__card {
        background: white;
        width: 230px;
        /* width: 100%; */
        text-align: center;
        padding: 40px;
        color: black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact {
        max-width: 1080px;
        text-align: center;
        /* width: 100%; */
        width: auto;
        margin: 0 auto;
        padding: 80px 50px;
    }

    .footer__content {
        width: auto;
    }

    .footer__wrapper {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;

    }

    
    .partners .clients{
        display: flex;
        justify-content: center;
    }
}

@media  (max-width: 768px) {

    .title{
        font-size: 40px;
    }
    #newsletter{
        display: none;
    }
        .header__navbar {
        display: none;
    }


    .header__wrapper {
        height: 60px;
    }

    .navbar__logo {
        transform: scale(0.75);
    }

    .hamburger {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
    }

    .hamburger .line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: #ffffff;
        transition: all 0.5s ease-in-out;
    }

    .hamburger .line::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: -9px;
        left: 0;
        background: white;
    }

    .hamburger .line::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -9px;
        left: 0;
        background: white;
    }

    .hamburger:hover .line {

        transform: translateY(-50%) rotate(45deg);
        transform-origin: bottom center;

    }

    .hamburger:hover .line::before {
        transform-origin: bottom center;
        transform: translateY(-50%) rotate(-90deg);
        top: 0;

    }

    .hamburger:hover .line::after {
        transform: rotate(45deg);
        display: none;

    }
/*
    .header__navbar .hamburger{
        display: block;
        position: absolute;
        height: 40px;
        top: 20px;
        right: 20px;
        background-color: transparent;
        color: #fff;
        border: 3px solid #fff;

        outline: none;
        padding: 0 5px;
        cursor: pointer;
      } */

    /* .header__navbar .hamburger.open-line .line {
        background-color: transparent;
      }
      .header__navbar .hamburger.open-hamburger .line{
        transform: translateY(0px) rotate(45deg);
      }
      .header__navbar .hamburger.open-hamburger .line{
        transform: translateY(-3px) rotate(-45deg);
      }
    } */


    #none-organize {
        display: none;
    }


    #none-black {
        display: none;
    }

    .header__navbar, .header__logo {
        display: none;
    }


    .features__cards {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        width: 100%;
        margin: 90px auto 0 auto;
        padding: 0 15px;
        gap: 0 21px;
    }

    .header__wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        background: rgb(37 35 35 / 25%);
        backdrop-filter: blur(3px);
        z-index: 1;
        top: 0;
        left: 0;
        position: fixed;

    }

    .features__video {
        width: 701px;
        border-radius: 30px;
        filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.25));
    }

    .subscribe .subscribe__image {
        width: 400px;
    }

    .subscribe__small {
        font-size: 20px;
        font-weight: 700;
        color: #252B42;
    }

    .subscribe .title {
        font-size: 38px;
        font-weight: 400;
        color: #252B42;
        margin: 17px 0;
    }

    .subscribe .text__bold {
        font-size: 18px;
        font-weight: 700;
        color: #252B42;
    }

    .subscribe .text__light {
        font-size: 16px;
        font-weight: 400;
        color: #374754;
    }

    .organize__button {
        display: flex;
        flex-direction: column;
        /* padding: 10px; */
        /* justify-content: space-between; */
        margin-top: 35px;
    }

    .subscribe, .button--second {
        margin-top: 10px;
    }

    .partners .clients {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        width: 100%
    }

    .pricing__card.current {
        background-color: rgba(32, 145, 249, 1);
        color: #ffffff;
        padding: 80px 40px;
        margin: 20px 0;
    }

    .pricing .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .pricing__card:not(:last-child) {
        margin: 20px 0
    }

    .pricing__card {
        margin: 20px 0;
    }

    .contact__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__form {
        margin: 30px 0;
    }

    .social__icons {
        color: rgba(32, 145, 249, 1);
        margin-top: 40px;
        text-align: center;
        font-size: 32px;
    }

    .client:not(.mobile) {
        display: none;
    }

    .clients {
        align-items: center;
    }

    .partners .clients .client {
        width: 30%;
        margin-bottom: 30px;
    }


    .partners .button--primary {
        margin-top: 70px;
    }

    .testimonials .testimonials__text {
        padding: 0 109px;
    }

    .subscribe{
        margin-top: 200px;
    }

}




@media (max-width: 425px)  {

  
    .navbar__logo {
        transform: scale(0.75);
    }

    .hero {
        width: 100%;
        margin: 25px 0 69px 0;
    }

    .hero__text {
        width: 100%;
        padding: auto;
    }

    .features__card {
        width: 50%;
    }

    .hamburger {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
    }

    .hamburger .line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: #ffffff;
        transition: all 0.5s ease-in-out;
    }

    .hamburger .line::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: -9px;
        left: 0;
        background: white;
    }

    .hamburger .line::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -9px;
        left: 0;
        background: white;
    }

    .hamburger:hover .line {

        transform: translateY(-50%) rotate(45deg);
        transform-origin: bottom center;

    }

    .hamburger:hover .line::before {
        transform-origin: bottom center;
        transform: translateY(-50%) rotate(-90deg);
        top: 0;

    }

    .hamburger:hover .line::after {
        transform: rotate(45deg);
        display: none;

    }



    #none-organize {
        display: none;
    }


    #none-black {
        display: none;
    }



    .newsletter .title {
        text-align: center;
        padding: 0;
    }

    #none {
        display: none;
    }

   

    .organize .title {
        text-align: center;
        font-size: 50px;
    }

    .button--second {
        padding: 16px 114px;
    }

    .subscribe__right {
        width: 100%;
        align-items: center;
        text-align: center;

    }

    .subscribe__right .title {
        display: none;
    }

    .subscribe__small_none{
        font-weight: 700;
        font-size: 20px;
    }

    .newsletter__text{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 90px;
    }
    .subscribe__small{
        display: none;
    }
    .mobile__title {
        font-size: 40px;
        font-weight: 400;
        color: #252B42;
        letter-spacing: 1.5px;
        margin: 10px 0 27px 0;
    }

    .subscribe .text__bold {
        font-size: 18px;
        font-weight: 700;
        color: #252B42;
        margin-top: 70px;
    }

    .testimonials .testimonials__text{
        padding: 0 82px;
        font-size: 14px;
        font-weight: 700;
    }

    .map{
        display: none;
    }

    .map__info{
        display: none;
    }

   .contact .social__icons{
        display: none;
    }
    .info{
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 30px 0px;

    }
    .info p{
        margin: 0;
    }
    .next__line{
        display: block;
        text-align: left;
    }

    .contact__form{
        width: 300px;
    }

    .header__wrapper {
        justify-content: space-around;
    }
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .title__mobile{
        font-size: 48px;
        font-weight: 400;
    }

    .footer__content:not(:last-child){
        padding-bottom: 80px;
    }
    .footer__contact{
        justify-content: center;
    }
    .social__icons__mobile {
        display: flex;
        color: rgba(32, 145, 249, 1);
        margin: 40px 0 90px 0;
        text-align: center;
        font-size: 32px;
        justify-content: center;
    }

    .social__icons__mobile i{
        padding: 0 15px;
    }

    .info i{
        margin-right: 20px;
        font-size: 30px;
    }
    .contact__map__mobile{
        display: flex;
    }
    .map__info__mobile{
        display: flex;
        flex-direction: column;
    }
    .organize__button{
        margin: 35px;
    }

    .partners .clients .client{
        width: 50%;
        margin-bottom: 30px;
    }
    .subscribe__image {
       width: 60%;
    }

    .title {
        align-items: center;
        font-size: 48px;
        font-weight: 400;
        color: #252B42;
        margin: 17px 0 30px 0;
        padding: 0 20px;
    }

    .hero__title {
        font-weight: 300;
        font-size: 48;
        color: #ffffff;
        padding: 0 20px;
    }

    .features__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    #none_newsletter{
        display: none;
    }
    .title__mobile{
        margin: 20px 0;
    }

    .testimonials .testimonials__text {
        /* padding: 0 82px; */
        font-size: 14px;
        font-weight: 700;
        width: 70%;
        margin: 0 auto;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .navbar__logo {
        display: flex;
        justify-content: flex-start;

    }

    .header__navbar {
        display: none;
        width: 100%;

    }

    .navbar__logo {
        display: flex;

    }


    .header__logo {
        display: none;

    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    .hero__text-wrapper {
        width: 100%;
    }

    .title {
        align-items: center;
        font-size: 48px;
        font-weight: 400;
        color: #252B42;
    }

    .hero__text {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 25px 0 60px 0;
    }

    .text__none {
        display: none;
    }

    .hamburger {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
    }

    .hamburger .line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: #ffffff;
        transition: all 0.5s ease-in-out;
    }

    .hamburger .line::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: -9px;
        left: 0;
        background: white;
    }

    .hamburger .line::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -9px;
        left: 0;
        background: white;
    }

    .hamburger:hover .line {

        transform: translateY(-50%) rotate(45deg);
        transform-origin: bottom center;

    }

    .hamburger:hover .line::before {
        transform-origin: bottom center;
        transform: translateY(-50%) rotate(-90deg);
        top: 0;

    }

    .hamburger:hover .line::after {
        transform: rotate(45deg);
        display: none;

    }


    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

   



    .organize {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .organize__left {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #none-organize {
        display: none;
    }

    .features__text-wrapper {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #none-black {
        display: none;
    }

    .features__video-one {
        display: flex;
        width: 300px;
        border-radius: 25px;
        margin: 50px 0;
    }

    .features__video {
        display: none;
    }

    .features__card {
        margin: 40px 0;
    }
    .organize__left{
        width: 100%;
    }
    .organize__image{
        margin-top: 30px;
        width: 100%;
    }
    .organize .button--second {

        padding: 19px 36px;

        margin: 0 auto;
    }

    .organize {
        display: flex;
        width: 100%;
        padding: 50px 0px;
        justify-content: center;
        align-items: center;
    }

    .subscribe{
    
        display: flex;
        flex-direction: column;
    }

    .partners .button--primary{
        width: auto;
    }

    .newsletter{
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .subscribe .title{
        display: none;
    }
}

@media only screen and (max-width: 414px) {


    .newsletter .title {
        text-align: center;
        padding: 0;
    }

    #none {
        display: none;
    }

    .subscribe {
        padding: 0;

    }

    .organize .title {
        text-align: center;
        font-size: 50px;
    }

    .button--second {
        padding: 16px 114px;
    }

    .subscribe__right {
        width: 100%;
        align-items: center;
        text-align: center;

    }

    .subscribe__right .title {
        display: none;
    }

    .subscribe__image {
        width: 400px;
        height: 307px;
    }

    .title {
        align-items: center;
        font-size: 48px;
        font-weight: 400;
        color: #252B42;
        margin: 17px 0 30px 0;
        padding: 0 20px;
    }

    .hero__title {
        font-weight: 300;
        font-size: 48;
        color: #ffffff;
        padding: 0 20px;
    }

    .features__cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

  

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .navbar__logo {
        display: flex;
        justify-content: flex-start;

    }

    .header__navbar {
        display: none;
        width: 100%;

    }

    .navbar__logo {
        display: flex;

    }


    .header__logo {
        display: none;

    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    .hero__text-wrapper {
        width: 100%;
    }

    .title {
        align-items: center;
        font-size: 48px;
        font-weight: 400;
        color: #252B42;
    }

    .hero__text {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 25px 0 60px 0;
    }

    .text__none {
        display: none;
    }

    .hamburger {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
    }

    .hamburger .line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: #ffffff;
        transition: all 0.5s ease-in-out;
    }

    .hamburger .line::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: -9px;
        left: 0;
        background: white;
    }

    .hamburger .line::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -9px;
        left: 0;
        background: white;
    }

    .hamburger:hover .line {

        transform: translateY(-50%) rotate(45deg);
        transform-origin: bottom center;

    }

    .hamburger:hover .line::before {
        transform-origin: bottom center;
        transform: translateY(-50%) rotate(-90deg);
        top: 0;

    }

    .hamburger:hover .line::after {
        transform: rotate(45deg);
        display: non;

    }


    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .features__card {
        width: 100%;
    }




    .organize {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .organize__left {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #none-organize {
        display: none;
    }

    .features__text-wrapper {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #none-black {
        display: none;
    }

    .features__video-one {
        display: flex;
        width: 300px;
        border-radius: 25px;
        margin: 50px 0;
    }

    .features__video {
        display: none;
    }

    .features__card {
        margin: 40px 0;
    }

}

@media (max-width: 375px){
    .organize .title{
        width: 92%;
        font-size: 40px;
    }

    .organize__text{
        font-size: 24px;
    }
    .title__mobile {
        font-size: 40px;
        font-weight: 400;
        margin: 20px auto;
    }
    .contact .contact__text{
        font-size: 20px;
    }
    .pricing__text {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        max-width: 530px;
        margin: 30px auto 90px auto;
    }
    
    .partners .clients .client {
        width: 55%;
        margin-bottom: 30px;
    }
    .newsletter__text {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 90px;
    }
    .subscribe .subscribe__image {
        width: 400px;
        transform: scale(0.90);
    }

    .contact__form {
        width: 250px;
    }

    .navbar__logo{
        margin-right: 115px;
    }
    .header__wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background: rgb(37 35 35 / 25%);
        backdrop-filter: blur(3px);
        z-index: 1;
        top: 0;
        left: 0;
        position: fixed;
    }

    .hamburger {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
    }

    .hamburger .line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: #ffffff;
        transition: all 0.5s ease-in-out;
    }

    .hamburger .line::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: -9px;
        left: 0;
        background: white;
    }

    .hamburger .line::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -9px;
        left: 0;
        background: white;
    }

    .hamburger:hover .line {

        transform: translateY(-50%) rotate(45deg);
        transform-origin: bottom center;

    }

    .hamburger:hover .line::before {
        transform-origin: bottom center;
        transform: translateY(-50%) rotate(-90deg);
        top: 0;

    }

    .hamburger:hover .line::after {
        transform: rotate(45deg);
        display: none;

    }

    .testimonials .testimonials__text {
        /* padding: 0 82px; */
        font-size: 14px;
        font-weight: 700;
        width: 57%;
        margin: 0 auto;

        
}
.features__card {
    width: 60%;
}
.subscribe {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 200px auto 0 auto;
}

}