body, html {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

p {
    margin: 0;
}


.hero-wrapper {
    background-image: url(../Images/clip.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    background-position-y: bottom;
}


.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    z-index: 1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.header__wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: rgb(37 35 35 / 25%);
    backdrop-filter: blur(3px);
    height: 100px;
    z-index: 1;
}

.header__navbar a {
    text-decoration: none;
    position: sticky;
    color: white;
    margin-right: 30px;
}

#none {
    width: 100%;
}

#none-black {
    display: inline-block;
    width: 100%;
}

.navbar__logo {
    margin-right: 200px;
}

.header__logo {
    color: #ffffff;
    align-items: center;
    font-size: 35px;
}

.header__logo i {
    padding: 0px 5px;
    justify-content: space-between;
}

/* 
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
    width: 50%;
    height:50%;
} */

.hero .title {
    font-size: 74px;
    font-weight: 700;
    color: #ffffff;
    
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    height: 50%;

}

.hero__text {
    font-size: 22px;
    font-weight: 200;
    color: white;
    font-family: rubik;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 25px 0 90px;
    width: 50%;
    max-width: 100%;


}

.button--primary {
    background: #2091F9;
    border-radius: 35px;
    padding: 10px 45px;
    color: white;
    border: none;
}

.features {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.title {
    font-size: 40px;
    font-weight: 400;
    color: #252B42;
    letter-spacing: 1.5px;
}

.features__subtitle {
    font-size: 20px;
    font-weight: 200px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-top: 30px;
}

.features__video-one {
    display: none;
}

.features__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em 9em 0 9em;
    width: 100%;
}

.features__card {
    justify-content: space-around;
    width: 33.33%;
}

#card__next-line {
    display: inline-block;
    width: 100%;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0;
}



.features__video {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    max-width: 1200px;
    width: 1100px;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.25));
}





.organize {
    display: flex;
    margin: 10em 10em 0 8em;
    align-items: center;
    justify-content: center;

}



.organize__title {
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 20px;
    width: 100%;
    color: #252B42;
}

.organize__text {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #374754;
}

#none-organize {
    width: 100%;
    display: inline-block;
}

.button--second {
    background: #2091F9;
    border-radius: 35px;
    padding: 15px 45px;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
}

.organize__image {
    width: 480px;
    height: 300px;
}

.fourth-section {
    margin-top: 15em;
}

.subscribe {
    display: flex;
    align-items: center;
    padding: 0 100px;
    justify-content: space-evenly;
}



.subscribe__small {
    font-size: 20px;
    font-weight: 700;
    color: #252B42;
}

.subscribe__tittle {
    margin: 20px 0;
    font-size: 48px;
    font-weight: 400;
    color: #252B42;
    max-width: 70%;
}


.text__bold {
    font-size: 20px;
    font-weight: 700;
    color: #252B42;
}

.text__light {
    font-size: 18px;
    font-weight: 400;
    color: #374754;
}

.organize__button {
    display: flex;
    margin-top: 35px;
    padding: 0 10px;
}

.email__button {
    padding: 17px 35px;
    border-radius: 30px;
    margin-right: 10px;
    background-color: #E8E8E8;
    font-size: 20px;
}

    
    .features__cards{
        width: 100%;
    }

    .features__card{
        width:20%;
    }

    .card__text{
        padding: 0 61px;
    }

    .features__text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .title {
        font-size: 48px;
        font-weight: 400;
        color:#252B42 ;
    }
    .newsletter{
        display: none;
    }
    .hero__title{
    font-weight: 700;
    font-size: 70px;
    color: #ffffff;
    }
   

    .subscribe{
        margin: 50px 0;
    }

    .card__text{
        padding: 0 24px;
    }

    .features__video {
        max-width: 2400px;
        width: 1200px;
        border-radius: 30px;
        filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.25));
    }

    .partners{
        max-width: 1080px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 80px 50px;
    
        
    }

    .partners .partners__text{
        margin-bottom: 90px;
        margin-top: 30px;
    }
    .partners .clients{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }

    .partners .clients .client{
        max-width: calc(25% - 2px);
        width: 100%;
        border: 1px solid rgba(233, 229, 229, 0.603) ;
        padding: 10px 0;
        
    }

    .partners .button--primary{
        margin-top: 80px;
    }

    .testimonials{
        max-width: 1080px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 80px 50px;
    }

    .testimonials__img{
        width: 150px;
        height: 60px;
        margin: 90px auto 60px auto;
    }

    .testimonials__img img{
        width: 100%;
        height: 100%;
    }
   
    .testimonials .testimonials__text{
        padding: 0 50px;
        font-size: 28px;
        font-weight: 400;
        color: rgba(55, 71, 84, 1);
    }

    .testimonials .testimonials__person{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .testimonials .person__img{
        width: 50px;
        height: 50px;
        border-radius:50% ;
        margin-right: 15px;
        
    }

    .person__img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .testimonials__person .person__info{
        text-align: left;
        line-height: 1.5;
    }
    
    .pricing{
            max-width: 1080px;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            padding: 80px 50px;
            background-color:rgba(37, 43, 66, 1) ;
    }

    .pricing .title{
        color: white;
    }

    .pricing__text{
        color: #ffffff;
        font-size: 28px;
        font-weight: 400;
        max-width: 530px;
        margin: 30px auto 90px auto;
    }

    .pricing .card{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pricing__card{
        background: white;
        max-width: 335px;
        width: 100%;
        text-align: center;
        padding: 40px;
        color: black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
        .pricing__card.current{
            background-color: rgba(32, 145, 249, 1);
            color: #ffffff;
            padding: 80px 40px;
        }

        .pricing__card.current .button--primary{
            background: #ffffff;
            color: rgba(32, 145, 249, 1);
        }
        .pricing__card:not(:last-child) {
            margin-right: 30px;
        }

        .pricing__feature{
            margin-bottom: 20px;
        }

        .card__desc{
            margin-bottom: 20px;
        }

        .card__price{
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 74px;
            font-weight: 700;
        }

        .card__price p{
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 400;
            align-items: flex-start;
            margin-left: 10px;
        }

    .contact{
        max-width: 1080px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 80px 50px;
    }

    .contact .contact__text{
        max-width: 530px;
        width: 100%;
        margin: 30px auto 60px auto;
        font-size: 28px;
        font-weight: 400;
    }

    .contact__block{
        display: flex;
        align-items: center;
    }
    .contact__form{
        width: 450px;
        box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.07) ;
        text-align: left;
        padding: 40px;
    }
   

    .contact__form .form__input, .contact__form .form__textarea  {
        width: 100%;
        background-color:rgba(245, 245, 245, 1) ;
        overflow: hidden;
        margin-bottom: 40px;
    }
    .form__input input, .form__textarea textarea{
        width: 100%;
        border: none;
        box-shadow: none;
        outline: none;
        padding: 19px 20px;
        background: transparent;
        overflow: hidden;
    }

    .form__textarea textarea{
        height: 200px;
    }
    .form__input input:focus, .form__textarea textarea:focus{
        border: none;
        box-shadow: none;
        outline: none;
    }

    .form__title{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;

    }

    .map{
        width: 520px;
        height: 320px;
        margin: 0 auto;
    }
    .map iframe{
        width: 100%;
        height: 100%;
    }
    .contact__form .form__input{
        border-radius: 40px;
    }

    .contact__map{
        display: flex;
        flex-direction: column;
        margin-left: 60px;
    }

    .map__info{
        display: flex;
        align-items: center;

    }
    .info{
     max-width: calc(100% / 3);
     width: 100%;   
    }
    .info:not(:last-child){
        margin-right: 15px;
    }
    .info i{
        color: rgba(32, 145, 249, 1);
    }

    .info p{
        margin: 25px 0 70px 0;
        font-size: 16px;
        font-weight: 400;
    }

.social__icons{
    color: rgba(32, 145, 249, 1);
    margin-top: 40px;
    text-align: left;
    font-size: 28px;
}

.social__icons i:not(:last-child){
    margin-right: 20px;
}
.footer{
    width: 100%;
    background-color: rgba(37, 43, 66, 1);
    padding: 150px 0;
}

.footer__wrapper{
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer__content{
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
}

    


.footer__title{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}
.footer__content a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    margin-top: 25px;
}

.footer__content i, .footer__content p{
color:#ffffff;
}

.footer__contact{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 25px;
    
}

.footer__contact i{
    margin-right: 15px;
    font-size: 28px;
}

.footer__icons{
    font-size: 28px;
    
}

.footer__icons i:not(:last-child){
    margin-right: 20px;
}

